MONGODB_URI=
PORT=3001
NODE_ENV=development
EMAIL_PROVIDER=console
JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=7d
EMAIL_CONFIRMATION_EXPIRES_IN=86400000
PASSWORD_RESET_EXPIRES_IN=3600000
APP_URL=http://localhost:3000
INVITATION_EXPIRES_IN=604800000
